body{
    background: url('https://cdn11.bigcommerce.com/s-a8bv6/images/stencil/1280x1280/products/418/627/Notepad_Pen__81380.1416860234.jpg?c=2&imbypass=on');
    background-position: fixed; 
    background-size: cover;
}